<div class="detail-page">
	<table>
		<tbody>
			<tr>
				<th>FIRST NAME</th>
				<td></td>
			</tr>
			<tr>
				<th>LAST NAME</th>
				<td></td>
			</tr>
			<tr>
				<th>COMPANY_NAME</th>
				<td></td>
			</tr>
			<tr>
				<th>ADDRESS</th>
				<td></td>
			</tr>
			<tr>
				<th>CITY</th>
				<td></td>
			</tr>
			<tr>
				<th>COUNTY</th>
				<td></td>
			</tr>
			<tr>
				<th>STATE</th>
				<td></td>
			</tr>
			<tr>
				<th>ZIP</th>
				<td></td>
			</tr>
			<tr>
				<th>PHONE1</th>
				<td></td>
			</tr>
			<tr>
				<th>PHONE2</th>
				<td></td>
			</tr>
			<tr>
				<th>EMAIL</th>
				<td></td>
			</tr>
			<tr>
				<th>WEBSITE</th>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>