<div ng-controller="studentController">
	<form name="studentForm">
	<p>
		<label>First Name</label>
		<input type="text" ng-model="student.firstName">
	</p>
	<p>
		<label>Last Name</label>
		<input type="text" ng-model="student.lastName">
	</p>
	</form>
	<p>{{student.firstName | uppercase }} {{student.lastName}}</p>

        <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-primary" ng-model="bigData.breakfast" uib-btn-checkbox>
              Breakfast
            </label>

            <label class="btn btn-primary" ng-model="bigData.lunch" uib-btn-checkbox>
              Lunch
            </label>

            <label class="btn btn-primary" ng-model="bigData.dinner" uib-btn-checkbox>
              Dinner
            </label>
        </div>
		<pre><code>{{ bigData | json }}</code></pre>
</div>